{{#partial "content"}}
    <div class="view" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg');background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble "><strong>THIS IS A FULL SQUAD<i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <h2 class="h2-reponsive center text-info animated wobble "><strong>The squad you selected is already at maximum capacity. <br> Check other squads or delete a Hero from the current Assigned Squad <i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <a href="/" class="btn btn-Royal blue"><strong>BACK TO HOME PAGE</strong></a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs }}