{{#partial "content"}}
    <div class="views" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg');background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive black center text-info animated wobble "><strong>THIS IS A FULL SQUAD<i class="fas fa-users animate rotateIn infinite"></i></strong>
            </h2>
            <p class="card-text">This Squad is already full. <br> Check other squads or delete a Hero from the current assigned Squad</p>
            <a href="/" class="btn btn-light">BACK TO HOME PAGE</a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs }}