{{#partial "title"}}
    Heroes Data Entry Page
{{/partial}}
{{!--To serve the Hero Form--}}
{{#partial "content"}}
    <div class="view" style="background-image: url(https://images4.alphacoders.com/699/699171.jpg); background-repeat: no-repeat; background-size: cover; background-position: cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble "><strong>ADD A NEW HERO <i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <div class = "centre">
                <form action="/heroes" method="post">
                    <div class="form-group md-form">
                        <label class="active text-white"  for="heroName"><strong>Hero's Name</strong></label>
                        <input id="heroName" name="heroName" class="form-control text-navy blue" type="text">
                    </div>

                    <div class="form-group md-form">
                        <label class="active text-white"  for="age"> <strong>Hero's Age</strong> </label>
                        <input id="age" name="age" class="form-control text-navy blue" type="number">
                    </div>

                    <div class="form-group md-form">
                        <label class="active text-white"  for="specialPower"><strong>Hero's Special Power</strong></label>
                        <input id="specialPower" name="specialPower" class="form-control text-navy blue" type="text">
                    </div>

                    <div class="form-group md-form">
                        <label class="active text-white"  for="weakness"><strong>Hero's Weakness</strong></label><input id="weakness" name="weakness" class="form-control text-navy blue" type="text">
                    </div>
                    <ul>
                       <button type="submit" onclick="return validateForm()" class="btn aqua-gradient text-white">Add hero</button>
                        <a type="submit" class="btn aqua-gradient text-white" href="/"><strong>HOME PAGE</strong></a>
                        <a href="/hero-list" class="btn btn-lg btn-primary fancy-button">
                        <strong>ADD / VIEW HEROES' LIST</strong>
                        <span class="sr-only">(current)</span>
                        </a>
                    </ul>
                </form>
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}