{{#partial "title"}}
    Heroes Success Page
{{/partial}}
{{#partial "content"}}
    <div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble "><strong>SUCCESS<i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <h2 class="h2-reponsive text-info animate fadeIn"><strong>Your Hero has been saved</strong></h2>
            <a  href="/heroes" type="submit" class="btn aqua-gradient text-white">Go Back</a>
            <a href="/hero-list" class="btn btn-lg btn-primary fancy-button">
                <strong>ADD / VIEW HEROES' LIST</strong>
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}