{{#partial "title"}}
    HeroesSquad Home Page
{{/partial}}

{{#partial "content"}}
    <div class="views" style="background-image: url('https://images3.alphacoders.com/210/210157.jpg'); background-repeat: no-repeat; background-size: cover; background-position: Cover;">
        <div class="animated">
            <h1 class="h1-reponsive dark blue -text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble text-center"><strong>The Heroes Squad App<i class="fas fa-mask animated rotateIn infinite white"></i></strong></h1>
            <div class="col-md-12 mb-4 black-text text-center">
                <hr>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a type="submit" class="btn fancy-button btn-lg" href="/">
                            <strong>HOME PAGE</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a type="submit" class="btn fancy-button btn-lg" href="/heroes">
                            <strong>ADD HERO</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a type="submit" class="btn fancy-button btn-lg" href="/squads">
                            <strong>ADD SQUAD</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a type="submit" class="btn fancy-button btn-lg" href="https://github.com/dmuthui/" target="_blank">
                            <strong>GITHUB</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <a href="/hero-list" class="btn btn-lg btn-primary fancy-button">
                    <strong>ADD / VIEW HEROES' LIST</strong>
                    <span class="sr-only">(current)</span>
                </a>

                <a href="/squad-list" class="btn btn-lg btn-primary fancy-button">
                    <strong>ADD / VIEW SQUADS' LIST</strong>
                    <span class="sr-only">(current)</span>
                </a>

                <a href="/hero-to-squad/" class="btn btn-lg btn-primary fancy-button">
                    <strong>VIEW ASSIGNED HEROES-TO-SQUAD</strong>
                    <span class="sr-only">(current)</span>
                </a>

                <a href="/" class="btn btn-lg btn-primary fancy-button">
                    <strong>SEARCH</strong>
                    <span class="sr-only">(current)</span>
                </a>
            </div>

        </div>
    </div>

{{/partial}}

{{>layout.hbs}}