<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>
        {{#block "title"}}
        {{/block}}
    </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/css/mdb.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.6/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script type="module">import typedJs from 'https://cdn.jsdelivr.net/npm/typed.js@2.0.16/+esm'</script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <link rel='stylesheet' href='/css/app.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

  {{#block "content"}}
  {{/block}}

  {{#block "footer"}}
      <footer class="bg - royal blue text-center text-white fixed-bottom ">
          <div class="container p-0">
              <section class="mb-0">
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://web.facebook.com/SafaricomPLC" target="_blank" rel="noopener noreferrer" role="button" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/Safaricom_Care" target="_blank" rel="noopener noreferrer" role="button" title="Twitter"><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://www.safaricom.co.ke/personal/value-added-services/information-services/zuri" target="_blank" rel="noopener noreferrer" role="button" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="mailto:customercare@safaricom.co.ke" target="_blank" rel="noopener noreferrer" role="button" title="Email"><i class="fas fa-envelope"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/safaricomplc_/?hl=en" target="_blank" rel="noopener noreferrer" role="button" title="Instagram"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/company/safaricom/" target="_blank" rel="noopener noreferrer" role="button" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="http://www.safaricom.co.ke/" target="_blank" rel="noopener noreferrer" role="button" title="Website"><i class="fas fa-globe"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://www.safaricom.co.ke/about/contact-us" target="_blank" rel="noopener noreferrer" role="button" title="Contact Us"><i class="fas fa-address-book"></i></a>
                  <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/dmuthui/MoringaSchoolJava-Week2IP-HeroesSquadApplication.git" target="_blank" rel="noopener noreferrer" role="button" title="GitHub"><i class="fab fa-github"></i></a>
              </section>
          </div>
          <div class="text-center p-1" style="background-color: royal blue;">
              <strong class="text-black">© 2023 Copyright:
                  The Heroes Squad App @David Emerald
              </strong>
          </div>
      </footer>
 {{/block}}
</body>
</html>
<script src="/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>


