{{#partial "content"}}
    <div class="view" style="background-image: url('https://wallpapertag.com/wallpaper/full/b/a/2/784583-gorgerous-marvel-heroes-wallpapers-2560x1600.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive center text-info animated wobble "><strong>SUCCESS<i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <h2 class="h2-reponsive text-info animate fadeIn"><strong>Your Squad has been saved</strong></h2>
            <a  href="/squads" type="submit" class="btn aqua-gradient text-white">Go Back</a>
            <a href="/squad-list" class="btn btn-lg btn-primary fancy-button">
                <strong>ADD / VIEW SQUADS' LIST</strong>
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}