{{#partial "title"}}
    Squad Data entry Page
{{/partial}}
{{!--To serve the Squad Form--}}
{{#partial "content"}}
    <div class="view" style="background-image: url('https://images3.alphacoders.com/699/699230.jpg'); background-repeat: no-repeat; background-size: cover; background-position:cover;">
        <div class="jumbotron text-center">
            <h2 class="h2-reponsive centre text-info animated wobble"><strong>ADD A NEW SQUAD <i class="fas fa-users animate rotateIn infinite"></i></strong></h2>
            <div class = "centre">
                <div class = "form-group md-form">
                    <form action="/squads" method="post">
                        <div class="form-group md-form">
                            <label   class="active text-white" for="squad">Squad Name</label>
                            <input id="squad" name="squad" type="text" class="form-control text-navy blue" required>
                        </div>
                        <div class="form-group md-form">
                            <label  class="active text-white" for="size">Squad size</label>
                            <input id="size" name="size" type="number" class="form-control text-navy blue" required>
                        </div>

                        <div class="form-group md-form">
                            <label  class="active text-white" for="cause">Squad cause</label>
                            <input id="cause" name="cause" type="text" class="form-control text-navy blue" required>
                        </div>

                        <button type="submit" class="btn aqua-gradient text-white" onclick="return validatesForm()" >ADD SQUAD</button>
                        <a type="submit" class="btn aqua-gradient text-white" href="/"><strong>HOME PAGE</strong></a>
                        <a href="/squad-list" class="btn btn-lg btn-primary fancy-button">
                            <strong>ADD / VIEW SQUADS' LIST</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}